<!-- image -->
<td width="80px">
	<img src="img/<%= productImg %>" class="productImageCart">
</td>
<td>
	<a href="#/products/<%- productId %>"><%- productTitle %></a>
</td>
<!-- price -->
<td class="priceCol">
	$&nbsp;<%= productPrice %> 
</td>

<!-- quantity -->
<td class="quantityCol">
	<input id="quantity" type="number" value="<%= quantity %>" min="1" class="quantitySpinner">
</td>
<!-- total -->
<td class="totalPrice">
	$&nbsp;<%= totalPrice %> 
</td>
<!-- remove -->
<td>
	<a class="removeItem"></a>
</td>