<div class="productContainer">
	<div class="productImageContainer">
		<img src="img/<%- image %>" class="productImage">
	</div>
	<div class="productInfoContainer">
		<h1>  <a href="#/products/<%- id %>"><%- title %></a></h1>
		<div class="productDescription"><%- description %></div>
	</div>
	<div class="price">
		$<%- price %><br><br>
		
		<div class="bought" style="display: <%= isInCart ? 'block' : 'none' %>"> comprado </div>
		<a href="#/buy/<%- id %>" class="buyBtn" style="display: <%= !isInCart ? 'block' : 'none' %>">Comprar</a>
	</div>
	
</div>