html,body {
	margin: 0;
	padding: 0;
}

body {
	font-family: "lucida sans unicode", "lucida grande", sans-serif;
	line-height: 1.4em;
	background-image:url('http://www.webtexture.net/wp-content/gallery/20-seamless-paper-texture/papar_texture_thumb05.jpg');
	color: #333333;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
}

nav {
	height: 50px;
}

.shoppingCartBtn {
	position: absolute;
	top: 10px;
	right: 30px;
	border: 1px solid white;
	border-radius: 3px;
}

.shoppingCartBtn:HOVER {
	border-color: black;
}

#productList {
	list-style-type: none;
	margin: 5px 0;
	padding: 0;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#productList li:nth-child(odd) {
	background-color: #E8EDED;
}

#productList li {
	padding: 8px 10px 8px 10px;
	margin: 5px;
	position: relative;
	font-size: 24px;
	border: 2px solid #cccccc;
	border-radius: 5px;
	position: relative;
}

.productContainer {
	position: relative;
	height: 100px;
}

.productImage {
	
}

.productImageContainer {
	border: 1px solid #cccccc;
	border-radius: 5px;
	width: 100px;
	height: 100px;
	position: absolute;
}

.productInfoContainer {
	position: absolute;
	left: 110px;
	max-height: 100px;
	height: 100px;
	right: 140px;
}

.productDescription {
	font-style: italic;
	font-size: medium;
	color: #5F5F69;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.price {
	color: #900;
	font-weight: bold;
	text-align: center;
	position: absolute;
	right: 0px;
	height: 100px;
	width: 130px;
	border-radius: 5px;
}

#productList h1 {
	font-size: 18px;
	font-weight: bold;
	padding: 0 0 10px 0;
}

.buyBtn {
	-moz-box-shadow: inset 0px 1px 0px 0px #f29c93;
	-webkit-box-shadow: inset 0px 1px 0px 0px #f29c93;
	box-shadow: inset 0px 1px 0px 0px #f29c93;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fe1a00
		), color-stop(1, #ce0100));
	background: -moz-linear-gradient(center top, #fe1a00 5%, #ce0100 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00',
		endColorstr='#ce0100');
	background-color: #fe1a00;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
	text-indent: 0;
	border: 1px solid #d83526;
	display: inline-block;
	color: #ffffff;
	font-family: Verdana;
	font-size: 15px;
	font-weight: bold;
	font-style: normal;
	height: 50px;
	line-height: 50px;
	width: 100px;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 0px #b23e35;
}

.buyBtn:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ce0100
		), color-stop(1, #fe1a00));
	background: -moz-linear-gradient(center top, #ce0100 5%, #fe1a00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100',
		endColorstr='#fe1a00');
	background-color: #ce0100;
}

.buyBtn:active {
	position: relative;
	top: 1px;
}

/*********************************
 * cart view *********************
 *********************************/
#shoppingCart {
	border: 2px solid #cccccc;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	background-color: #FEFFEA;
	border-radius: 5px;
	/*por defecto no se muestra*/
	display: none;
}

#shoppingCart h3 {
	text-align: center;
	font-size: 25px;
}

#shoppingCart table {
	width: 100%;
}

#shoppingCart thead th {
	border-bottom: 1px solid #cccccc;
	padding: 5px;
}
#shoppingCart tbody tr td {
	border-bottom: 1px dashed #cccccc;
	padding: 5px;
}

#shoppingCart .quantitySpinner {
	width: 40px;
	text-align: center;
	border:1px solid black;
    border-radius:3px;
    padding: 3px;
    font-size: 14px;
}

#shoppingCart .clearOutBtn {
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#shoppingCart .removeItem {
	display: none;
	cursor: pointer;
	width: 20px;
	height: 20px;
	background: url(../img/destroy.png) no-repeat;
}

#shoppingCart tr:hover .removeItem {
	display: block;
}

#shoppingCart .removeItem:hover {
	background-position: 0 -20px;
}

#shoppingCart .productImageCart {
	max-width: 70px;
	max-height: 70px;
}

#shoppingCart .totalPrice {
	text-align: right;
	text-shadow: 2px 2px 5px rgba(150, 150, 150, 1);
	font-size: 18px;
	color: #990000;
	font-style: italic;
	font-weight: bold;
	font-variant: normal;
	letter-spacing: 0px;
	line-height: 20px;
	font-size: 18px;
	width: 100px;
}

#shoppingCart .allCartItemPrice {
	font-size: 24px;
	font-style: normal;
}

#shoppingCart .total {
	font-size: 24px;
	text-align: right;
	text-shadow: 2px 2px 5px rgba(150, 150, 150, 1);
	
	
}

#shoppingCart .quantityCol {
	text-align: center;
	width: 100px;
}
#shoppingCart .priceCol {
	text-align: center;
	width: 100px;
}



/*********************************
 * Product Detail*****************
 *********************************/
#productDetail {
	border: 5px solid #cccccc;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.productDetail {
	
}

#productDetail .imgContainer {
	border: solid 1px green;
	width: 400px;
	height: 400px;
}

#productDetail .imgContainer img {
	max-width: 100%;
	max-height: 100%;
	outline: solid 1px red;
}