html,body {
	margin: 0;
	padding: 0;
}

body {
	font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background: #FAFAED;
	color: #333333;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
}

nav {
	height: 50px;
}

.shoppingCartBtn {
	position: absolute;
	top: 10px;
	right: 30px;
	border: 1px solid white;
	border-radius: 3px;
}

.shoppingCartBtn:HOVER {
	border-color: black;
}

#productList {
	list-style-type: none;
	margin: 10px 0;
	padding: 0;
}

#productList li:nth-child(odd) {
	background-color: #E8EDED;
}

#productList li {
	padding: 18px 20px 18px 10px;
	margin: 10px;
	position: relative;
	font-size: 24px;
	border: 5px solid #cccccc;
	border-radius: 15px;
	position: relative;
}

.productImage {
	
}

.productContainer {
	position: relative;
	height: 180px;
}

.productImageContainer {
	border: 2px solid #cccccc;
	border-radius: 5px;
	width: 300px;
	height: 180px;
	position: absolute;
}

.productInfoContainer {
	position: absolute;
	left: 310px;
	height: 180px;
	width: 400px;
}

.productDescription {
	font-style: italic;
	font-size: medium;
	color: #5F5F69;
}

.price {
	color: #900;
	font-weight: bold;
	bottom: 10px;
	bottom: 5px;
	position: absolute;
	right: 5px;
}

#productList h1 {
	font-size: 18px;
	font-weight: bold;
	padding: 0 0 10px 0;
}

.buyBtn {
	-moz-box-shadow: inset 0px 1px 0px 0px #f29c93;
	-webkit-box-shadow: inset 0px 1px 0px 0px #f29c93;
	box-shadow: inset 0px 1px 0px 0px #f29c93;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fe1a00
		), color-stop(1, #ce0100));
	background: -moz-linear-gradient(center top, #fe1a00 5%, #ce0100 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00',
		endColorstr='#ce0100');
	background-color: #fe1a00;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
	text-indent: 0;
	border: 1px solid #d83526;
	display: inline-block;
	color: #ffffff;
	font-family: Verdana;
	font-size: 15px;
	font-weight: bold;
	font-style: normal;
	height: 50px;
	line-height: 50px;
	width: 100px;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 0px #b23e35;
}

.buyBtn:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ce0100
		), color-stop(1, #fe1a00));
	background: -moz-linear-gradient(center top, #ce0100 5%, #fe1a00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100',
		endColorstr='#fe1a00');
	background-color: #ce0100;
}

.buyBtn:active {
	position: relative;
	top: 1px;
}

/*********************************
 * cart view *********************
 *********************************/
#shoppingCart {
	border: 2px solid #cccccc;
	margin-left: auto ;
  	margin-right: auto ;
  	width: 800px;
  	background-color: #E4E79A;
	border-radius: 5px;
	/*por defecto no se muestra*/
	display: none;
}

#shoppingCart td {
	border-bottom: 1px dashed #cccccc;
	padding: 5px;
}

#shoppingCart .quantitySpinner {
	width: 40px;
}

#shoppingCart .clearOutBtn {
	padding: 10px;
}

#shoppingCart .removeItem {
	display: none;
	cursor: pointer;
	width: 20px;
	height: 20px;
	background: url(../img/destroy.png) no-repeat;
}

#shoppingCart tr:hover .removeItem {
  	display: block;
}

#shoppingCart .removeItem:hover {
  	background-position: 0 -20px;
}

#shoppingCart .productImageCart {
	width: 100px;
}



/*********************************
 * Product Detail*****************
 *********************************/

#productDetail {
	border: 5px solid #cccccc;
	width: 800px;
	margin-left: auto ;
    margin-right: auto ;
}

#productDetail .imgContainer {
	border: solid 1px green;
    width: 800px;
    height: 500px;
}

#productDetail .imgContainer img {
	max-width: 100%;
    max-height: 100%;
    outline: solid 1px red;
}